{% extends 'cashCount/cbase.html' %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-10">
        <h1>All Memos</h1>
        <h3>Total Taken Amount {{ alltaken }} Taka</h3>
        <h3>Total Given Amount {{ allgiven }} Taka</h3>
    </div>
</div>
<div class="row justify-content-center mt-5">
    <div class="col-md-10">
        <div class="list-group">
          {% if cash %}
            {% for x in cash %}
                <a href="{% url 'cashCount:showCashMemo' x.id %}" class="list-group-item list-group-item-action{% if x.taken %} list-group-item-danger{% endif %}">
                  <b>{{ x.title }}<b><br>
                  {% if x.taken %}<span><small>Amount Taken</small> {{ x.cost }} <small>Taka</small></span><br>{% endif %}
                  {% if x.given %}<span><small>Amount Given</small> {{ x.cost }} <small>Taka</small></span><br>{% endif %}
                  {% if x.memo %}({{ x.memo|truncatechars:10 }}){% endif %}<br>
                  <small>Created in </small>{{ x.created|date:'M j Y H:i' }}
                </a>
            {% endfor %}
          {% else %}
            <div class="text-center">
                <h2>Looks like <b>Noone</b> borrowed from you and You dont have any cash history,<b> Nice work!!</b></h2>
            <br>
            <a role="button" class="btn btn-primary" href="{% url 'cashCount:createCashMemo' %}">New CashCount</a>
            </div>
          {% endif %}
        </div>
    </div>
</div>
{% endblock %}
