{% extends 'todo_a/base.html' %}
{% block content %}
{{ error }}
{{ todo.title }}
<form  method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" name="button">Save</button>
</form>
<form  action="{% url 'completetodo' todo.id %}" method="POST">
  {% csrf_token %}
  <button type="submit" name="button">Complete</button>
</form>
<form  action="{% url 'deletetodo' todo.id %}" method="POST">
  {% csrf_token %}
  <button type="submit" name="button">Delete</button>
</form>

{% endblock %}
